name: Lint

on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: lint
        uses: DoozyX/clang-format-lint-action@v0.18.2
        with:
          clangFormatVersion: 12
          source: './include/cpp-statsd-client ./tests'
